@import 'variables';

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: $step-height;
  padding: 0px 20px 20px 20px;

  .step-footer {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    padding: 10px;

    button + button {
      margin-left: 10px;
    }

    width: 300px;
  }

  // regular screens
  width: $content-max-width;

  /* Smartphones screen (portrait) properties */
  @media only screen and (max-width: $smartphone-width-breakpoint) {
    width: auto;

    .step-body,
    .step-footer {
      width: 100%;
    }
  }

  .p-invalid {
    margin-top: 10px;
  }

  ::ng-deep {
    .p-inputtext.guest-input {
      width: 300px;
      background: transparent;
      border: none;
      border-bottom: solid 1px;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }

    .p-input-icon-left .p-inputtext.guest-input {
      padding-left: 30px;
    }
  }
}
