rules_version = '2';
service firebase.storage {
  function isAuthenticated(){
    return request.auth.uid != null;
  }

  match /b/{bucket}/o {
    match /photos/{allPaths=**} {
      // reads
      allow read;
      
      // write
      allow write: if isAuthenticated();
    }
  }
}
