<div class="momo-info">
  <h2>Informations Utiles</h2>

  <p>Chers amis, chère famille,</p>
  <p>Vous trouverez ci-dessous les informations nécessaires au bon déroulement des festivités.</p>

  <div class="info-section">
    <h3>Châteaurenard</h3>
    <p>
      Le lieu de notre mariage est une commune française des Bouches-du-Rhônes (13), en région Provence-Alpes-Côte d'Azur. La
      ville est située à 8km au sud-est d'Avignon et à 11km de la gare d'Avignon TGV.
    </p>
    <p>Adresses utiles&nbsp;:</p>
    <ul>
      <li>
        <a [href]="keyAdresses.church" target="_blank"><i class="pi pi-map-marker"></i>Église St Denys</a>
      </li>
      <li>
        <a [href]="keyAdresses.sainteAnne" target="_blank"><i class="pi pi-map-marker"></i>Mas Sainte Anne</a>
      </li>
      <li>
        <a [href]="keyAdresses.avignonTgv" target="_blank"><i class="pi pi-map-marker"></i>Gare d'Avignon TGV</a>
      </li>
    </ul>
  </div>

  <div class="info-section">
    <h3>Hébergement</h3>
    <p>
      Comme les hébergements se font rares dans la région, nous vous conseillons de vous y prendre assez tôt. A cet effet, vous
      trouverez ici <a href="https://www.provenceweb.fr/" target="_blank">un lien</a> contenant l'ensemble de l'offre
      d'hébergement dans la région.
    </p>
    <p>N'hésitez pas à rester quelques jours pour visiter les alentours dont le charme est mondialement renommé.</p>
  </div>

  <div class="info-section">
    <h3>Enfants</h3>
    <p>Nous ne prévoyons pas le repas ni la garde des enfants. Ceux-ci seront donc sous votre responsabilité.</p>
    <p><i class="pi pi-exclamation-triangle warning"></i>&nbsp;Plan d'eau non surveillé.</p>
  </div>

  <div class="info-section">
    <h3>Covid</h3>
    <p>
      Afin de préserver la santé de nos invités dont nous sommes responsables et ne pas entacher cet heureux événement, nous vous
      demandons l'obtention du pass sanitaire via un schéma vaccinal complet ou d'un test PCR/antigénique négatif de moins de 72h.
      Nous vous rappelons également que le port du masque est obligatoire à l'église. Le reste des festivités ayant lieu en
      extérieur, vous serez libres de le retirer par la suite.
    </p>
  </div>

  <div class="info-section">
    <h3>Parking</h3>
    <p>
      Il se situe à l'extérieur de la propriété et sera non surveillé. La route menant à celui-ci est bordée d'une roubine sur
      1km. Toute l'attention du conducteur sera donc nécessaire pour ne pas provoquer une baignade non anticipée.
    </p>
  </div>

  <div class="info-section">
    <h3>Taxi</h3>
    <p>
      Si vous souhaitez bénéficier de services de taxi ceux-ci sont rares dans les alentours, nous vous conseillons de les
      réserver à l'avance. Voici quelques numéros:
    </p>
    <ul>
      <li>Julien ADJ TAXI: <a class="tel" href="tel:+33782599619">+33 7 82 59 96 19</a></li>
      <li>Taxi Maussane les Alpilles: <a class="tel" href="tel:+33673918337">+33 6 73 91 83 37</a></li>
    </ul>
  </div>

  <div class="info-section">
    <h3>Mesdames</h3>
    <p>
      Le cocktail ainsi que le dîner auront lieu dans le jardin du Mas Sainte Anne. Nous vous déconseillons le port de talons
      aiguilles.
    </p>
  </div>
</div>
