<div class="momo-info">
  <h2>Informations Utiles</h2>

  <p>Chers invités,</p>
  <p>Vous trouverez ci-dessous les informations nécessaires au bon déroulement des festivités.</p>

  <div class="info-section">
    <h3>Hébergement</h3>
    <p>
      Comme les hébergements se font rares dans la région, nous vous conseillons de vous y prendre assez tôt. A cet effet, vous
      trouverez ici <a href="https://www.provenceweb.fr/">un lien</a> contenant l'ensemble de l'offre d'hébergement dans la
      région.
    </p>
    <p>
      Pour rappel, le Mas Sainte Anne se situe à Chateaurenard entre Avignon et Saint-Rémy-de-Provence (<a
        href="https://goo.gl/maps/QhPcdu8yPiWHC3f17"
        target="_blank"
        >plan<i class="pi pi-map-marker"></i></a
      >).
    </p>
    <p>N'hésitez pas à rester quelques jours pour visiter les alentours dont le charme est mondialement renommé.</p>
  </div>

  <div class="info-section">
    <h3>Enfants</h3>
    <p>Nous ne prévoyons pas le repas ni la garde des enfants. Ceux-ci seront donc sous votre responsabilité.</p>
    <p><i class="pi pi-exclamation-triangle warning"></i>&nbsp;Plan d'eau non surveillé.</p>
  </div>

  <div class="info-section">
    <h3>Covid</h3>
    <p>Nous mettrons à jour les informations de cette section en fonction de l'évolution de la pandémie.</p>
    <p>Toutefois, nous vous conseillons de procéder à un test de dépistage 72h avant l'évènement.</p>
  </div>

  <div class="info-section">
    <h3>Parking</h3>
    <p>
      Il se situe à l'extérieur de la propriété et sera non surveillé. La route menant à celui-ci est bordée d'une ravine sur 1km.
      Toute l'attention du conducteur sera donc nécessaire pour ne pas provoquer une baignade non anticipée ;-).
    </p>
  </div>

  <div class="info-section">
    <h3>Mesdames</h3>
    <p>
      Le cocktail ainsi que le dîner auront lieu dans le jardin du Mas Sainte Anne. Nous vous déconseillons le port de talons
      aiguilles.
    </p>
  </div>
</div>
