@import 'variables';

.momo-header {
  .logo-container {
    display: flex;
    justify-content: center;

    .logo {
      /* Common properties */

      height: 310px;
      width: 300px;

      background: url(../../../assets/olivier.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title,
      .subtitle {
        color: $primary-color;
      }

      .title {
        font-family: $font-family-logo;
        text-transform: capitalize;
        margin-top: 50px;
        font-size: 45px;
        margin-left: -35px;
      }

      .subtitle {
        font-size: 25px;
        font-style: italic;
      }

      /* Regular screen properties */
      margin-top: 50px;
    }
  }
}

/* Smartphones screen (portrait) properties */
@media only screen and (max-width: $smartphone-width-breakpoint) {
  .momo-header .logo-container .logo {
    margin-top: 0px;

    .title {
      margin-top: 35px;
    }
  }
}
