<div class="step step-welcome">
  <h2>
    <strong>Nous nous marions le 28 août 2021 !</strong>
  </h2>
  <p>
    Nous serions enchantés de votre présence parmi nous pour célébrer notre union. Celle-ci aura lieu à l'église de Châteaurenard
    et continuera au Mas Saint Anne.
  </p>
  <p class="small">RSVP avant le ../../....</p>
  <div class="step-footer">
    <button
      pButton
      type="button"
      label="RSVP"
      class="p-button-lg p-button-raised"
      pRipple
      (click)="this.onRsvp.emit(); $event.target.blur()"
    ></button>
  </div>
</div>
