.step.step-recap {
  ::ng-deep table {
    th,
    tr,
    td {
      background: none;
      border: none;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  .pi {
    font-size: 1.5rem;
  }

  .pi-check {
    color: #548474;
  }

  .pi-times {
    color: #bc3251;
  }

  .step-footer {
    margin: 0;
  }
}
