<div class="step step-answer">
  <div class="step-title">
    <ng-container [ngSwitch]="step">
      <h3 *ngSwitchCase="Step.Ceremony">Participerez-vous à la <em>cérémonie religieuse</em>&nbsp;?&nbsp;*</h3>
      <h3 *ngSwitchCase="Step.PlusOneCeremony">
        {{ guest?.firstName }} participera-t-il/elle à la <em>cérémonie religieuse</em>&nbsp;?&nbsp;*
      </h3>
      <h3 *ngSwitchCase="Step.Cocktail">Participerez-vous au <em>cocktail</em>&nbsp;?&nbsp;*</h3>
      <h3 *ngSwitchCase="Step.PlusOneCocktail">
        {{ guest?.firstName }} participera-t-il/elle au <em>cocktail</em>&nbsp;?&nbsp;*
      </h3>
      <h3 *ngSwitchCase="Step.Diner">Participerez-vous au <em>dîner</em>&nbsp;?&nbsp;*</h3>
      <h3 *ngSwitchCase="Step.PlusOneDiner">{{ guest?.firstName }} participera-t-il/elle au <em>dîner</em>&nbsp;?&nbsp;*</h3>
      <h3 *ngSwitchCase="Step.Brunch">Participerez-vous au <em>brunch</em> du lendemain&nbsp;?&nbsp;*</h3>
      <h3 *ngSwitchCase="Step.PlusOneBrunch">
        {{ guest?.firstName }} participera-t-il/elle au <em>brunch</em> du lendemain&nbsp;?&nbsp;*
      </h3>
    </ng-container>
  </div>

  <div class="step-body">
    <ul class="answer-option-list">
      <li class="answer-option answer-option-true" [class.answer-option--selected]="isAttending" (click)="isAttending = true">
        <div class="answer-option-corner-check">
          <i class="pi pi-check"></i>
        </div>
        <span class="answer-option-text">Oui</span>
      </li>
      <li
        class="answer-option answer-option-false"
        [class.answer-option--selected]="isAttending !== undefined && !isAttending"
        (click)="isAttending = false"
      >
        <div class="answer-option-corner-check">
          <i class="pi pi-check"></i>
        </div>
        <span class="answer-option-text">Non</span>
      </li>
    </ul>
  </div>

  <div class="step-footer">
    <button
      class="p-button-lg p-button-raised p-button-outlined"
      pButton
      type="button"
      label="Précédent"
      iconPos="left"
      icon="pi pi-angle-left"
      pRipple
      (click)="onPrevious(); $event.target.blur()"
      [tabIndex]="isCurrentStep ? 0 : -1"
    ></button>
    <button
      #nextButton
      class="p-button-lg p-button-raised"
      pButton
      type="button"
      label="Suivant"
      iconPos="right"
      icon="pi pi-angle-right"
      pRipple
      (click)="onNext(); $event.target.blur()"
      [disabled]="isAttending === undefined"
      [tabIndex]="isCurrentStep ? 1 : -1"
    ></button>
  </div>
</div>
