<div class="momo-guests">
  <div class="header">
    <h2 class="title">Gestion des invités</h2>
    <div class="actions">
      <button class="add-button" pButton label="Ajouter" (click)="addDialogVisbility = !addDialogVisbility"></button>
    </div>
  </div>
  <ag-grid-angular class="ag-theme-alpine" [rowData]="guests$ | async" [gridOptions]="gridOptions"></ag-grid-angular>
</div>

<p-dialog #addDialog header="Ajouter un invité" [(visible)]="addDialogVisbility" styleClass="add-dialog">
  <momo-guest-form
    *ngIf="addDialogVisbility"
    (saved)="addDialogVisbility = false"
    (cancelled)="addDialogVisbility = false"
  ></momo-guest-form>
</p-dialog>
