<div class="momo-guests">
  <div class="header">
    <h2 class="title">Gestion des invités</h2>
    <div class="actions">
      <button class="add-button" pButton label="Ajouter" (click)="addDialogVisbility = !addDialogVisbility"></button>
    </div>
  </div>
  <ag-grid-angular class="ag-theme-alpine" [rowData]="guests$ | async" [gridOptions]="gridOptions"></ag-grid-angular>
</div>

<p-dialog #addDialog header="Ajouter un invité" [(visible)]="addDialogVisbility" styleClass="add-dialog">
  <momo-guest-form
    *ngIf="addDialogVisbility"
    [guest]="editionGuest"
    (saved)="closeForm()"
    (cancelled)="closeForm()"
  ></momo-guest-form>
</p-dialog>

<p-confirmDialog #deleteDialog header="Supprimer Invité ?" icon="pi pi-exclamation-triangle" key="deleteDialog">
  <p-footer>
    <button
      type="button"
      pButton
      label="Annuler"
      (click)="deleteDialog.close()"
      class="p-button-outlined p-button-secondary"
    ></button>
    <button type="button" pButton label="Oui" (click)="deleteDialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
