.momo-guests {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .title {
    // }

    .actions {
      .add-button {
        margin-left: 10px;
      }
    }
  }
  ag-grid-angular {
    width: 1420px;
    height: 500px;
  }
}

::ng-deep .add-dialog {
  width: 500px;
}
