@font-face {
  font-family: apercu-pro;
  src: url(../assets/fonts/apercu-pro/ApercuPro-Bold.woff2) format('woff2');
}

@font-face {
  font-family: apercu-pro;
  src: url(../assets/fonts/apercu-pro/ApercuPro-Bold.woff2) format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: apercu-pro;
  src: url(../assets/fonts/apercu-pro/ApercuPro-Italic.woff2) format('woff2');
  font-style: italic;
}

@font-face {
  font-family: apercu-pro;
  src: url(../assets/fonts/apercu-pro/ApercuPro-Light.woff2) format('woff2');
  font-weight: lighter;
}

@font-face {
  font-family: bellamy;
  src: url(../assets/fonts/bellamy/bellamy.ttf);
}

@font-face {
  font-family: calligraphy;
  src: url(../assets/fonts/calligraphy/calligraphy.ttf);
}

@font-face {
  font-family: violina;
  src: url(../assets/fonts/violina/violina-regular.ttf);
}

@font-face {
  font-family: olimpia;
  src: url(../assets/fonts/olimpia/olimpia.ttf);
}

// @font-face {
//   font-family: olimpia;
//   src: url(../assets/fonts/olimpia/olimpia-italic.ttf);
//   font-style: italic;
// }

@font-face {
  font-family: massa;
  src: url(../assets/fonts/massa/massa-regular.ttf);
}

// @font-face {
//   font-family: massa;
//   src: url(../assets/fonts/massa/massa-bold.ttf);
//   font-style: bold;
// }
