$smartphone-width-breakpoint: 801px;

// PrimeNg overrides
$primary-color: #536b63;
$text-color: #758785;

$font-family-header: calligraphy;
$font-family: Georgia, 'Times New Roman', serif;

$step-height: 400px;
