$smartphone-width-breakpoint: 801px;
$min-screen-size: 360px;
$content-max-width: 600px;

// PrimeNg overrides
$primary-color: #536b63;
$text-color: #758785;
$stand-out-color: #8096c9;

$font-family-logo: 'Jellyka Western Princess';
$font-family: 'MrsEaves';
$font-family-paragraph: 'MrsEavesRoman';

$step-height: 420px;
