/* Global Style of the application */
@import 'variables';
@import 'fonts';
@import 'primeng/index';
@import 'ag-grid/index';

body {
  background-image: url(../assets/invite-paper.png);
  font-size: 22px;
  font-family: $font-family;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;
  color: $primary-color;
  line-height: 1.2;
}

h1 {
  font-size: 32px;
}

h5 {
  font-size: 1.25rem;
}

p,
li {
  color: $primary-color;
  font-family: $font-family-paragraph;
}

p {
  line-height: 1.3em;
  margin-block-start: 1rem;
  margin-block-end: 0;
  font-style: normal;
  text-align: justify;
}

.small {
  font-size: 0.8em;
}

a {
  color: $primary-color;
}

em {
  color: $stand-out-color;
}
