<div class="momo-program">
  <h2>Programme</h2>
  <div class="timeline">
    <ul>
      <li class="sunday">
        <div class="date">Samedi 28 août</div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="time">16h</div>
        <div class="desc">
          <div class="title">Cérémonie Religieuse</div>
          <div class="subtitle">Église St Denys</div>
          <div class="address">
            <a href="https://goo.gl/maps/uiF4oQ12JfbXY1gdA" target="_blank">Place de la Mairie<i class="pi pi-map-marker"></i></a>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="time">18h30</div>
        <div class="desc">
          <div class="title">Cocktail</div>
          <div class="subtitle">Mas Sainte Anne</div>
          <div class="address">
            <a href="https://goo.gl/maps/QhPcdu8yPiWHC3f17" target="_blank"
              >869 chemin de Bigonnet<i class="pi pi-map-marker"></i
            ></a>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="time">21h</div>
        <div class="desc">
          <div class="title">Dîner & Soirée</div>
          <div class="subtitle">Mas Sainte Anne</div>
          <div class="address">
            <a href="https://goo.gl/maps/QhPcdu8yPiWHC3f17" target="_blank"
              >869 chemin de Bigonnet<i class="pi pi-map-marker"></i
            ></a>
          </div>
        </div>
      </li>
      <li class="sunday">
        <div class="date">Dimanche 29 août</div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="time">12h</div>
        <div class="desc">
          <div class="title">Brunch</div>
          <div class="subtitle">Mas Sainte Anne</div>
          <div class="address">
            <a href="https://goo.gl/maps/QhPcdu8yPiWHC3f17" target="_blank"
              >869 chemin de Bigonnet<i class="pi pi-map-marker"></i
            ></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
