$primary-button-color: $primary-color;

.p-button {
  background: $primary-button-color;
  border-color: $primary-button-color;

  &:not(.p-button-icon-only):focus {
    background: darken($primary-button-color, 10%);
    border-color: darken($primary-button-color, 10%);
  }

  &:enabled:hover {
    background: lighten($color: $primary-button-color, $amount: 10);
    border-color: lighten($color: $primary-button-color, $amount: 10);
  }
}

.p-button:not(.p-button-outlined) .p-button-label {
  color: #fff;
}

.p-button.p-button-lg {
  font-size: 1.4rem;
}
