<div class="momo-wishlist">
  <h2>Liste de Mariage</h2>
  <img src="../../../../../assets/voyage-noces.png" alt="" />
  <p>Nous sommes d'ores et déjà bien installés dans notre petit appartement parisien.</p>
  <p>
    Dès que la situation le permettra, nous souhaiterions partir en voyage de noces. Si vous souhaitez nous aider, vous avez la
    possibiltié de participer à la cagnotte prévue à cet effet, en cliquant sur le lien ci-dessous.
  </p>
  <div class="prizepool">
    <a [href]="lydiaLink" target="_blank">Participer à la cagnotte </a>
  </div>
</div>
