.step.step-guest-selection {
  .p-input-icon-left .pi {
    z-index: 1;
  }

  p-autocomplete ::ng-deep .p-autocomplete {
    .p-autocomplete-panel {
      font-size: 1.2em;
    }
  }

  .step-footer {
    justify-content: start;
  }
}
