<div class="step step-guest-selection">
  <div class="step-title">
    <h3>S'il vous plait, dites nous qui vous êtes&nbsp;:&nbsp;*</h3>
  </div>

  <div class="step-body">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <p-autoComplete
        [(ngModel)]="guest"
        class="p-inputtext-lg"
        [minLength]="3"
        [forceSelection]="true"
        [suggestions]="guestsSuggestions$ | async"
        (completeMethod)="searchGuest$.next($event.query)"
        field="fullName"
        dataKey="id"
        placeholder="Votre nom"
        inputStyleClass="guest-input"
        [tabindex]="isCurrentStep ? 0 : -1"
      ></p-autoComplete>
    </span>
  </div>

  <div class="step-footer">
    <button
      class="p-button-lg p-button-raised"
      pButton
      type="button"
      label="Suivant"
      iconPos="right"
      icon="pi pi-angle-right"
      pRipple
      (click)="signInGuest(); $event.target.blur()"
      [disabled]="!guest"
      [tabindex]="isCurrentStep ? 1 : -1"
    ></button>
  </div>
</div>
