<div class="momo-home">
  <h2>
    <strong>Nous nous marions le<br />28 août 2021&nbsp;!</strong>
  </h2>
  <p>
    Nous serions enchantés de votre présence parmi nous pour célébrer notre union. Celle-ci aura lieu à 16h en l'église de
    Châteaurenard (13160) et sera célébrée par le père Bruno Maurel.
  </p>
  <p>Nous aurons la joie de vous recevoir à l'issue de la cérémonie religieuse au Mas Sainte Anne.</p>
  <p class="small"><a [routerLink]="['/', AppRoutes.Rsvp]" routerLinkActive="active">RSVP</a>&nbsp;avant le 30/06/2021</p>
</div>
