<div class="momo-home">
  <h2><span class="bigger">Nous nous marions</span><br />le 28 août 2021&nbsp;!</h2>
  <p>
    Nous serions enchantés de votre présence parmi nous afin de célébrer notre union. Celle-ci sera célébrée par le père Bruno
    Maurel à 16h en l'église Saint Denys de Châteaurenard.
  </p>
  <p>Nous aurons la joie de vous recevoir à l'issue de la cérémonie religieuse au Mas Sainte Anne.</p>
  <p class="small"><a [routerLink]="['/', AppRoutes.Rsvp]" routerLinkActive="active">RSVP</a>&nbsp;avant le 15/06/2021</p>
</div>
